<?xml version="1.0"?>
<!--
**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *
 * MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_OrderDetails
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 *
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_details>
            <general>
                <enable>1</enable>
                <show_order_product>1</show_order_product>
                <show_shipping_address>1</show_shipping_address>
                <show_shipping_method>1</show_shipping_method>
                <show_billing_address>1</show_billing_address>
                <show_payment_method>1</show_payment_method>
                <show_print_order_link>1</show_print_order_link>
                <show_reorder_link>1</show_reorder_link>
                <show_order_status>1</show_order_status>
            </general>
            <thank_cofig>
            	<size_thanks>20</size_thanks>
                <color_thanks>FFFFFF</color_thanks>
            </thank_cofig>
            <before_config>
                <size_before_text>20</size_before_text>
                <color_text_before>FFFFFF</color_text_before>
            </before_config>
            <after_config>
                <size_after_text>20</size_after_text>
                <color_text_after>FFFFFF</color_text_after>
            </after_config>
        </order_details>
    </default>
</config>